/* The following line can be included in a src/App.scss */
@import '~bootstrap/scss/bootstrap';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  @font-face {
    font-family: fira-code;
    src: url(./Assets/Fonts/FiraCode-Regular.ttf);
  }

  @font-face {
    font-family: permanent-marker;
    src: url(./Assets//Fonts//PermanentMarker-Regular.ttf);
  }
}

.Home {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.Products {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: fira-code;
  display: flex;
  justify-content: center;
}

h2 {
  font-family: fira-code;
  font-size: 24px;
  display: flex;
  justify-content: center;
}

.shop-page {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

@media (max-width: 767px) {

  .Home {
    .shop-page {
      max-width: 430px;
    }
  }
}